/* Clean up default styles */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Hide Scrollbar Utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Marquee Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -50%
    ); /* Moves by 50% because we doubled/tripled the content */
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  display: flex;
  width: max-content;
}

/* Pause animation on hover if needed */
.animate-scroll:hover {
  animation-play-state: paused;
}
